@tailwind base;
@tailwind components;
@tailwind utilities;

.styled-table {
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-rows {
    border-bottom: thin solid #dddddd;
}

.styled-table tr:nth-of-type(even) {
    background-color: #fafafa;
}

.styled-table tr:last-of-type {
    border-bottom: 2px solid #000000;
}
